</br>
<h1>Bienvenue </h1>
</br>
</br>
<button type="button" onclick=window.location.href='/crypto' class="btn btn-secondary">Accès à la liste des monnaies</button>

<div class="container-fluid">
<div class="container">
<div class="row">
